<div class="route-container" id="user-dashboard-view">
	<div class="title-container no-select">
		<div class="page-title">Dashboard</div>
	</div>
	
	<div layout="row" layout-md="column" layout-sm="column">
		<md-card id="dashboard-profile">
			<img class="avatar-large pull-left" ng-src="{{vm.user.avatar}}">
			<p>
				you have reached the dashboard for {{ vm.user.username }}
			</p>
		</md-card>
		
		<md-card id="dashboard-quick-links">
			<h3>Quick Links</h3>
			<p>
				This is where the links to Canvas will go
			</p>
		</md-card>
		
		<md-card id="dashboard-streams">
			This is where the Twitter stream will go
		</md-card>
	</div>
</div>