/* -------------------------------- GENERAL TAGS */

body, html, article {
	margin: 0;
	padding: 0;
	
	height: 100%;
}

body, html, header, footer, ng-view, article {
	width: 100%;
}

body {
	padding-top: 52px;
}

article {
	height: 90%;
}

h1 {
	font-size: 50pt;
	
	text-align: center;
}

a.dummy-link {
	cursor: pointer;
	color: blue;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover, a.dummy-link:hover {
	text-decoration: underline;
}

md-card {
	overflow: hidden;
}


/* ----------------------- CUSTOM GENERAL CLASSES */

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.absolute-center {
	display: flex;
	justify-content: space-around;
	
	width: 50%;
	left: 50%;
}

.clear-left {
	clear: left;
}

.absolute-bottom {
	bottom: 0;
}

.pull-left {
	display: block;
	float: left;
}

.pull-right {
	display: block;
	float: right;
}

.centered {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	cursor:  default;
}

.large-screen-closed {
	display: none;
}


/* -------------------------- NON-MATERIAL FLEX */
.flex-container {
	display: flex;
}

	.flex-container.flex-center {
		justify-content: space-around;
		align-items: center;
	}


/* --------------------------- PARALLAX ATTRIBS */

.parallax-main, .parallax-container, .parallax-image {
	width: 100%;
	height: 100%;
}

.parallax-main {
	height: 500px;
}

.parallax-image {
	padding: 0;
	
	z-index: 1;
	
	background-size: 100%;
	
	align-items: center;
}

.parallax-text {
	background-color: rgba(255,255,255,.7);
	box-shadow: 0 0 15px rgba(255,255,255,.7), 
				0 0 5px rgba(255,255,255,.7);
	
	padding: 20px;
	
	border-radius: 5px;
	
	width: 30%;
	
	font-size: 16pt;
	
	display: block;
	
	height: auto;
}


/* ------------------------ SIDENAV AND HEADER */

md-sidenav, header {
	background-color: #FF660D;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 100;
	
	width: 100%;
}

	a:link .menu-button, a:visited .menu-button {
		color: black;
	}
	
		.menu-button {
			margin: 0;
			padding: 8px 20px;
			
			border-radius: 0;
			
			text-align: left;
			font-size: 16pt;
		}
		
		.header-button {
			position: relative;
			z-index: 160;
		}
	

md-sidenav, .md-sidenav-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	
}

	md-sidenav {
		z-index: 200;
		
	}
	
		md-backdrop.md-sidenav-backdrop {
			z-index: 195;
		}
		
		.sidenav-button {
			width: 100%;
		}


//    -----------------------------  VIEW DEFAULTS

.page-title {
	margin: 5px auto;
	padding: 8px 40px;
	
	width: auto;
	
	position: relative;
	left: -50%;
	
	font-size: 16pt;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	
	transition: all .5s;
	
	z-index: 105;
}

		.page-title:hover {
			background-color: rgba(255, 255, 255, .4);
			box-shadow: 0 0 5px white;
			
			border-radius: 5px;
		}

	.title-container {
		height: 0px;
		width: 50%;
		
		position: fixed;
		top: 0;
		left: 50%;
		
		z-index: 102;
		
		/*overflow: visible;*/
	}


/* ----------------------------- HOME VIEW */

#home-banner {
	background-image: url('../assets/fragment-898479_1280.jpg');
	
	overflow: hidden;
	
	justify-content: space-around;
}
	
	/*.home-banner div:first-child {
		outline: 2px solid black;
	}*/
	
	.circular-logo-holder {
		width: 200px;
		height: 200px;
		
		position: relative;
		left: -50%;
		top: 30px;
		
		background-color: white;
		background-image: url('../assets/laurel-wreath-translucent.png');
		background-size: 80%;
		background-position: center center;
		background-repeat: no-repeat;
		
		display: flex;		
		justify-content: space-around;
		align-items: center;
		
		border-radius: 100px;
		
		overflow: hidden;
		
		box-shadow: 0 0 50px white, 0 0 15px white, 0 0 5px white;
	}
	
	#ohs_home_logo {
		
		height: 70%;
		width: 70%;
	}
	
	.site-welcome {
		margin: 0;
		
		text-align: center;
		
		font-size: 24pt;
	}
	
	.larger {
		font-size: 28pt;
	}
	
	.flex-text {
		font-size: 16pt;
		
		padding: 70px;
	}
	
	
/*    -----------------------------------    LOGIN VIEW    */

.full-size {
	width: 100%;
	height: 95%;
}

	#login-view, #register-view {
		height: 95%;
		
		justify-content: space-around;
		align-items: center;
	}

	.login-box, .register-box {
		width: 400px;
	}
		
		#login-form {
			margin-bottom: 30px;
		}
		
		#oauth-links {
			display: flex;
			
			width: 100%;
			
			justify-content: space-around;
		}
			
			$signin-link-size: 40pt;
			$signin-link-line-height: 1em;
			
			.oauth-button {
				min-width: auto;
				height: auto;
				min-height: auto;
				padding: 0;
				margin: 0;
				line-height: $signin-link-line-height;
				
				font-size: $signin-link-size;
			}
			
				#facebook-login {
					color: #264182;
					transition: all 0.3ms;
				}
				
				#facebook-login:hover {
					color: #3559B2;
					background-color: white;
				}
				
				
				#twitter-login {
					color: #1C9DE8;
				}
				
				#twitter-login:hover {
					color: #00AEE5;
					background-color: white;
				}
				
				#google-login {
					height: 46px;
					width: 46px;
					
					margin-top: 3px;
					
					background-color: #C9000C;
					color: white;
					
					font-size: $signin-link-size - 15pt;
					// line-height: $signin-link-line-height - .5em;
					
					border-radius: 0;
				}
				
				#google-login:hover {
					background-color: #A3000A;
				}


//    ----------------------------------------    DASHBOARD VIEW

#dashboard-layout-container, #admin-layout-container {
	justify-content: space-around
}

	.dashboard-panels, .admin-panels {
		display: block;
		
		height: auto;
		min-height: auto;
		
		h3 {
			margin: 0;
			padding: .5em 10px;
			
			background-color: #206B3D;
			
			color: white;
		}
		
		.inner-content {
			padding: 20px;
		}
	}
	
	.dashboard-panels {
		flex: 1;
	}
	
	#dashboard-center-panel {
		flex: 2;
	}
	
	// #dashboard-profile {
	// 	width: 23%;
	// }
	
	// #dashboard-quick-links {
	// 	width: 48%;
	// }
	
	// #dashboard-streams {
	// 	width: 23%;
		
	// 	box-shadow: none;
	// }


//    ---------------------------------------    ADMIN DASHBOARD

.admin-panels {
	flex: 3;
}

	#admin-center-panels {
		flex: 5
	}

	.new-user-data {
		
		font-size: smaller;
		
		margin: 20px 0;
		
		.data-header {
			min-width: 120px;
			width: 120px;
		}
		
		#admin-new-users {
			margin: 10px 0;
			
			padding: 0 8px;
		}
	}


.account-settings-container {
	width: 100%;
	height: 100%;
	
	position: relative;
	
	/*flex-direction: column;*/
}

	.settings-tabs {
		background-color: white;
	}
	
		.settings-tab {
			margin: 0;
			
			padding: 6px 14px; 
			
			border-radius: 0;
			border-bottom: 8px solid white;
			/*width: 25%;*/
			
			font-weight: bolder;
			
			transition: all linear .2s;
		}
		
		.settings-tab:hover {
			border-bottom-color: rgba(158,158,158,0.0);
		}
		
		.selected-tab {
			border-bottom: 8px solid #37ABA0;
		}
		
		.selected-tab:hover {
			border-bottom: 8px solid #37ABA0;
		}
	
	.tab-intro {
		width: 75%;
		max-width: 1000px;
		margin: 20px auto;
		
		font-size: 14pt;
	}


//    -------------------------------------------    PROFILE, ETC

.avatar-small {
	width: 50px;
	height: 50px;
	
	margin: 5px;
}

.avatar-large {
	width: 150px;
	height: 150px;
	
	margin: 0 auto;
}

.profile-view, .edit-profile-view {
	width: 80%;
	max-width: 1000px;
	
	font-size: 14pt;
	
	margin: 20px auto;
	
	background-color: rgba(255, 255, 255, .9);
	
	border-radius: 5px;
	
	overflow: hidden;
	
	/*position: relative;*/
}
	
	.profile-view > div, .edit-profile-view > div {
		padding: 20px;
		
		position: relative;
	}
		
		.avatar-large {
			height: 150px;
			width: 150px;
			
			margin: 0 auto;
		
			box-shadow: 0 0 5px rgb(175,175,175), 2px 2px 5px rgb(100, 100, 100);
		}
		
		.username-profile {
			background-color: #EDBD0A;
			
			font-size: 24pt;
			
			margin: 0;
			padding: 20px;
			
			border-bottom-left-radius: 5px;
			
			position: absolute;
			left: 0;
			top: 0;
			
			width: 100%;
		}
		
		.public-profile-info, .edit-profile-info {
			margin-top: 65px;
		}
		
		
/*   ----------------------------------   EDIT PROFILE DIRECTIVE   */

.edit-profile-info > div {
	margin: .5em 0;
	padding: .5em 10px;
	
	
}

	.edit-profile-info > div[ng-repeat] {
		padding: .5em 10px;
	}
	
	.to-edit {
		transition: all linear .2s;
	}
	
	.to-edit:hover {
		background-color: rgba(158,158,158,0.3);
		
		cursor: pointer;
		
		border-radius: 3px;
		
	}
		
		.remove-selection {
			/*background-color: rgba(158,158,158,0.0);*/
			min-width: auto;
			min-height: auto;
			width: 20px;
			height: 20px;
			
			margin: 0;
			
			border-radius: 10px;
			
			font-size: 8pt;
			font-weight: bold;
			line-height: 8pt;
		}
		
		.remove-selection:hover {
			background-color: #B51514 !important;
			
			/*outline: */
		}
		
		.editing > form {
			justify-content: space-around;
			align-items: center;
			width: 100%;
			
			md-input-container {
				width: 70%;
			}
			
			.cancel-link {
				display: block;
				
				font-size: 10pt;
			}
		}
		


//    ------------------------------------ FEEDBACK VIEW

#feedback-box {
	max-width: 500px;
	width: 40%;
	
	padding: 30px;
}
		
		


@media only screen and (max-width: 959px) {
	#dashboard-layout-container {
		display: flex;
		// justify-content: space-around;
		align-items: center;
	}
	
	#dashboard-profile, #dashboard-quick-links, #dashboard-streams {
		width: 95%;
	}
	
	#twitter-widget {
		display: block;
		margin: 0 auto;
		
		width: 400px;
	}
	
	.dashboard-panels, .admin-panels {
		font-size: larger;
		
		h3 {
			text-align: center;
		}
		
		.inner-content {
			padding: 40px;
		}
	}
	
	.new-user-data {
		margin: 20px 50px;
		width: auto;
	}
	
	.profile-view {
		display: block;
	}
	
	.right-profile {
		width: 100%;
	}
	
	.username-profile {
		width: 100%;
		
		border-radius: 0;
	}
	
	.large-screen-closed {
		display: block;
	}
	
	.small-screen-closed {
		display: none;
	}
}