<div class="view-container">
	
	<section class="parallax-main relative">
		<div 
			class="parallax-container relative" 
			perfect-parallax parallax-ratio="0.1" 
			parallax-css="transform:translateY"
		>
			<div 
				class="parallax-image home-banner relative" 
				perfect-parallax parallax-ratio="0.5" 
				parallax-css="background-position-y" 
				parallax-init-val="-100"
				layout-gt-md="row" layout-md="column" layout-sm="column" class="flex-container flex-center"
			>
				<div class="">
					<img src="../assets/ohs debate logo--editmasked.png" class="pull-left" alt="OHS Logo">
				</div>
					
				<div class="parallax-text relative" style="width: 500px;">
					
					<h1 class="site-welcome">Welcome to the <br>
							<span class="larger">Ogden High School Debate</span><br>
							Website!</h1>
					
					<p class="relative">
						Bacon ipsum dolor amet jerky strip steak swine ground round short ribs corned beef kielbasa flank andouille brisket frankfurter hamburger chuck beef. Strip steak shankle turkey salami, picanha bacon capicola drumstick ground round. Capicola short loin kielbasa turducken ball tip pork belly pork alcatra short ribs landjaeger drumstick ground round brisket. Short ribs cow andouille, chuck turducken spare ribs cupim pastrami pork belly kevin sausage pork chop ball tip alcatra. Filet mignon landjaeger ground round leberkas drumstick venison meatloaf cupim kevin beef ribs. Spare ribs shankle shoulder venison prosciutto rump.
					</p>
					
					<p class="relative">
						And no, we don't have anything to do with Ireland!
					</p>
					<!--<p>
						Tenderloin venison strip steak tri-tip turducken rump landjaeger ham hock frankfurter tongue salami ball tip. Meatloaf ham hock brisket, strip steak sirloin cupim spare ribs prosciutto filet mignon kevin boudin. Ribeye ball tip doner hamburger short loin. Chicken kevin chuck corned beef capicola. Cupim ball tip venison bacon beef ribs strip steak.
					</p>
					<p>
						Capicola bresaola frankfurter, swine filet mignon ham turkey salami hamburger beef ribs picanha turducken sirloin rump shankle. Sausage filet mignon shoulder, jowl tri-tip frankfurter cupim drumstick strip steak. Pork loin fatback cow tenderloin, jerky drumstick kielbasa beef ribs boudin short ribs andouille ham tongue doner. Frankfurter porchetta shoulder biltong, pork swine capicola short loin rump spare ribs andouille meatball jowl pork loin. T-bone pancetta meatloaf, beef kevin ham hock pig short loin corned beef tail turducken. Shank picanha tri-tip pork loin frankfurter tail andouille kevin drumstick boudin bacon cupim. Bresaola pork ham hock shoulder tenderloin tri-tip biltong boudin meatloaf.
					</p>
					<p>
						Short ribs shoulder meatloaf kevin tongue bresaola, strip steak doner prosciutto flank swine filet mignon sausage frankfurter leberkas. Hamburger porchetta bresaola, pork belly meatball tenderloin meatloaf tail frankfurter ball tip. Pork loin picanha shankle chuck short loin pastrami. Cupim kielbasa bacon meatball. Corned beef short loin sirloin shankle cupim porchetta pork doner tail meatloaf turducken pancetta. Turkey spare ribs rump ball tip jowl. Short ribs shank landjaeger kevin, pig ground round bacon pork loin.
					</p>	
					<p>
						Tenderloin bacon rump drumstick, capicola ham landjaeger beef ribs corned beef kevin fatback. Capicola shankle spare ribs drumstick, boudin prosciutto short ribs meatloaf pig landjaeger pork chop alcatra tongue. Swine turducken rump cupim, leberkas jerky capicola doner tri-tip chuck. Pork belly prosciutto sausage, pork loin drumstick strip steak porchetta brisket ham doner. Pork loin shank tri-tip tail tongue chicken rump tenderloin.
					</p>-->
				</div>
			</div>
		</div>
	</section>
	
	<section class="parallax-after">
		<h1>Interested in Debate?</h1>
		
		<div layout-gt-md="row" layout-md="column" layout-sm="column">
			<div flex class="flex-text">
				<p>
					
				</p>
			</div>
			
			<div flex class="flex-container flex-center">
				<img src="../assets/debate.jpg" alt="Debate" >
			</div>
		</div>
	</section>
</div>