<div class="view-container">
	<div class="title-container no-select">
		<div class="page-title">Home</div>
	</div>
	
	<section class="parallax-main relative" layout-lg="row" layout-md="column" layout-sm="column">
		<div 
			class="parallax-container relative" 
			perfect-parallax parallax-ratio="0.1" 
			parallax-css="transform:translateY"
		>
			<div 
				class="parallax-image home-banner relative flex-container flex-center" 
				perfect-parallax parallax-ratio="0.5" 
				parallax-css="background-position-y" 
				parallax-init-val="-100"
			>
				<div class="absolute absolute-center absolute-bottom">
					<div class="circular-logo-holder">
						<img src="../assets/ohs_debate_logo--edit_masked.png" alt="OHS Logo" id="ohs_home_logo">
					</div>
				</div>
				
				<div class="parallax-text relative">
					<h1 class="site-welcome">Welcome to the <br>
							<span class="larger">Ogden High School Debate</span><br>
							Website!</h1>
				</div>
					
				<div class="parallax-text relative">
					<p class="relative">
						Bacon ipsom dolor sit amet tenderloin venison strip steak tri-tip turducken rump landjaeger ham hock frankfurter tongue salami ball tip. Meatloaf ham hock brisket, strip steak sirloin cupim spare ribs prosciutto filet mignon kevin boudin. Ribeye ball tip doner hamburger short loin. Chicken kevin chuck corned beef capicola. Cupim ball tip venison bacon beef ribs strip steak.
					</p>
					
					<p class="relative">
						And no, we don't have anything to do with Ireland!
					</p>
					
					<!--<p>
						
					</p>
					<p>
						Capicola bresaola frankfurter, swine filet mignon ham turkey salami hamburger beef ribs picanha turducken sirloin rump shankle. Sausage filet mignon shoulder, jowl tri-tip frankfurter cupim drumstick strip steak. Pork loin fatback cow tenderloin, jerky drumstick kielbasa beef ribs boudin short ribs andouille ham tongue doner. Frankfurter porchetta shoulder biltong, pork swine capicola short loin rump spare ribs andouille meatball jowl pork loin. T-bone pancetta meatloaf, beef kevin ham hock pig short loin corned beef tail turducken. Shank picanha tri-tip pork loin frankfurter tail andouille kevin drumstick boudin bacon cupim. Bresaola pork ham hock shoulder tenderloin tri-tip biltong boudin meatloaf.
					</p>
					<p>
						Short ribs shoulder meatloaf kevin tongue bresaola, strip steak doner prosciutto flank swine filet mignon sausage frankfurter leberkas. Hamburger porchetta bresaola, pork belly meatball tenderloin meatloaf tail frankfurter ball tip. Pork loin picanha shankle chuck short loin pastrami. Cupim kielbasa bacon meatball. Corned beef short loin sirloin shankle cupim porchetta pork doner tail meatloaf turducken pancetta. Turkey spare ribs rump ball tip jowl. Short ribs shank landjaeger kevin, pig ground round bacon pork loin.
					</p>	
					<p>
						Tenderloin bacon rump drumstick, capicola ham landjaeger beef ribs corned beef kevin fatback. Capicola shankle spare ribs drumstick, boudin prosciutto short ribs meatloaf pig landjaeger pork chop alcatra tongue. Swine turducken rump cupim, leberkas jerky capicola doner tri-tip chuck. Pork belly prosciutto sausage, pork loin drumstick strip steak porchetta brisket ham doner. Pork loin shank tri-tip tail tongue chicken rump tenderloin.
					</p>-->
				</div>
			</div>
		</div>
	</section>
	
	<section class="parallax-after">
		<h1>Interested in Debate?</h1>
		
		<div layout-gt-md="row" layout-md="column" layout-sm="column">
			<div flex class="flex-text">
				<p>
					Bacon ipsum dolor amet pork belly pork chop andouille landjaeger venison t-bone tail biltong pancetta. Landjaeger drumstick ham hock kielbasa picanha ribeye tongue alcatra. Biltong tenderloin kevin, andouille pork ham drumstick ground round fatback cow pancetta porchetta chicken kielbasa. Jowl bacon fatback, cupim sirloin spare ribs venison kielbasa pork belly. Venison swine fatback cow tail rump salami. Tri-tip turducken meatloaf tenderloin, pork prosciutto shankle pancetta salami shoulder beef leberkas sirloin porchetta bresaola. Cupim tri-tip turducken short ribs porchetta t-bone.
				</p>
				<p>
					Come join debate!
				</p>
			</div>
			
			<div flex class="flex-container flex-center">
				<img src="../assets/debate.jpg" alt="Debate" >
			</div>
		</div>
	</section>
	
	<section>
		<h1>Already a member?</h1>
		
		<div layout-gt-md="row" layout-md="column" layout-sm="column">
			<div flex class="flex-container flex-center">
				<img src="../assets/moderator.jpg">
			</div>
			<div flex class="flex-text">
				<p>
					Porchetta pork belly ground round short loin pastrami pork chop tongue fatback kielbasa salami. Drumstick beef tail chicken boudin turkey. Ham tri-tip filet mignon kielbasa. Ground round tongue turducken, sausage meatball drumstick boudin frankfurter pancetta hamburger pig. Shank boudin ground round ham, sausage porchetta frankfurter venison capicola turducken.
				</p>
				<p>
					Click the menu button and select "Log In" to register.
				</p>
			</div>
		</div>
	</section>
</div>