<div class="route-container flex-container relative" id="login-view">
	<div class="login-box">
		<form>
			<md-input-container>
				<label for="vm.username">Username</label>
				<input type="text" ng-model="vm.username">
			</md-input-container>
			<md-input-container>
				<label for="vm.password">Password</label>
				<input type="password" ng-model="vm.password">
			</md-input-container>
			<input type="submit" class="md-button md-raised md-primary">
		</form>
			
		<div id="oauth-panel">
			<h3 class="text-center">OR</h3>
			<p class="text-center">sign in with:</p>
			<div id="oauth-links">
				<md-button class="oauth-button" id="facebook-login" ng-click="vm.facebookLogin()"><span class="fa fa-facebook-official"></span></md-button>
				<md-button class="oauth-button" id="facebook-login" ng-click="vm.facebookLogin()"><span class="fa fa-twitter-square"></span></md-button>
				<md-button class="oauth-button" id="facebook-login" ng-click="vm.facebookLogin()"><span class="fa fa-google"></span></md-button>
			</div>
		</div>
	</div>
</div>