<div class="route-container flex-container relative" id="login-view">
	<div class="title-container no-select">
		<div class="page-title">Login</div>
	</div>
	
	<div class="login-box direct-center-box">
		<form id="login-form">
			<md-input-container>
				<label for="vm.username">Username</label>
				<input type="text" ng-model="vm.username">
			</md-input-container>
			<md-input-container>
				<label for="vm.password">Password</label>
				<input type="password" ng-model="vm.password">
			</md-input-container>
			<input type="submit" class="md-button md-raised md-primary" ng-click="vm.login_local()">
		</form>
		<div>
			<div class="pull-right">
				<a href="#/register">Register</a>
			</div>
			<a href="#/forgot-password">Forgot Password?</a>
		</div>
		
			
		<!--<div id="oauth-panel" ng-hide="true">
			<h3 class="text-center">OR</h3>
			<p class="text-center">sign in with:</p>
			<div id="oauth-links">
				<md-button class="oauth-button" id="facebook-login" ng-click="vm.facebookLogin()" aria-label="Facebook Login"><span class="fa fa-facebook-official"></span></md-button>
				<md-button class="oauth-button" id="twitter-login" ng-click="vm.twitterLogin()" aria-label="Twitter Login"><span class="fa fa-twitter-square"></span></md-button>
				<md-button class="oauth-button" id="google-login" ng-click="vm.googleLogin()" aria-label="Google Login"><span class="fa fa-google"></span></md-button>
			</div>
		</div>-->
	</div>
</div>