<div id="register-view" class="route-container flex-container">
	<div class="title-container no-select">
		<div class="page-title">Register</div>
	</div>
	
	<div class="register-box direct-center-box">
		<h5 ng-hide="vm.reg_step === 4"><b>NOTE:</b> This form will create a registration request which will be approved by an administrator.
		In order to make sure that your request will be processed successfully and to ensure that you will be up
		and running as soon as possible, please fill out the following form to the best of your ability.</h5>
		
		<h4 class="text-right" ng-show="vm.reg_step < 4">Step {{ vm.reg_step }}</h4>
		
		<div id="local-reg-box" ng-show="vm.reg_step === 1">
			<form id="local-reg-form">
				<md-input-container>
					<label for="vm.newUserName">Username</label>
					<input type="text" ng-model="vm.newUsername" required>
				</md-input-container>
				<md-input-container>
					<label for="vm.newPassword">Password</label>
					<input type="password" ng-model="vm.newPassword" required>
				</md-input-container>
				<md-input-container>
					<label for="vm.confirmPassword">Confirm Password</label>
					<input type="password" ng-model="vm.confirmPassword" required>
				</md-input-container>
				<input type="submit" class="md-button md-raised md-primary" ng-click="vm.verify_local()">
			</form>
		</div>
		
		<div id="reg-box-2" ng-show="vm.reg_step === 2">
			<form id="reg-form-step2">
				<md-input-container ng-hide="vm.currentUser.displayName">
					<label for="vm.newFirstName">First Name</label>
					<input type="text" ng-model="vm.newFirstName" ng-required="!vm.OAuthData">
				</md-input-container>
				<md-input-container ng-hide="vm.currentUser.displayName">
					<label for="vm.newLastName">Last Name</label>
					<input type="text" ng-model="vm.newLastName"  ng-required="!vm.OAuthData">
				</md-input-container>
				<md-input-container>
					<label for="vm.newEmail">Email</label>
					<input type="email" ng-model="vm.newEmail" required>
				</md-input-container>
				<div ng-show="vm.currentUser.displayName">
					<h4 class="display-inline">Name:</h4> {{ vm.currentUser.displayName }}
				</div>
				<input type="submit" class="md-button md-raised md-primary" ng-click="vm.verify_step2()">
			</form>
		</div>
		
		<div id="reg-box-3" ng-show="vm.reg_step === 3">
			<h4>Suggestion:</h4>
			<p>Make your question/answer combinations as obscure as you can make it while still being memorable to you so you can remember it in case you forget your password.</p>
			
			<form id="reg-form-step3">
				<md-input-container>
					<label for="vm.securityQ1">Security Question 1</label>
					<input type="text" ng-model="vm.securityQ1" required>
				</md-input-container>
				<md-input-container>
					<label for="vm.securityA1">Answer</label>
					<input type="text" ng-model="vm.securityA1" required>
				</md-input-container>
				
				<hr>
				
				<md-input-container>
					<label for="vm.securityQ2">Security Question 2</label>
					<input type="text" ng-model="vm.securityQ2" required>
				</md-input-container>
				<md-input-container>
					<label for="vm.securityA2">Answer</label>
					<input type="text" ng-model="vm.securityA2" required>
				</md-input-container>
				
				<hr>
				
				<md-input-container>
					<label for="vm.securityQ3">Security Question 3</label>
					<input type="text" ng-model="vm.securityQ3" required>
				</md-input-container>
				<md-input-container>
					<label for="vm.securityA3">Answer</label>
					<input type="text" ng-model="vm.securityA3" required>
				</md-input-container>
				
				<input type="submit" class="md-button md-raised md-primary" ng-click="vm.verify_step3()">
			</form>
		</div>
		
		<div id="reg-box-4" ng-show="vm.reg_step === 4">
			Congratz!
		</div>
	</div>
</div>